.grey-bg {
  background-color: #141616;
}

body {
  background-color: #141616;
  color: #ff5500;
}

.faceitcolors {
  color: #ff5500;
}

.faceitcolors th,
td {
  color: #ff5500;
}

h1,
h2,
h3,
h4 {
  color: #ff5500;
}

p,
small,
label {
  color: #ff5500;
}

.test {
  color: #7bff00;
}

img {
  position: relative;
}

h4 {
  position: absolute;
  left: 130px;
  top: 27%;
}

.stats {
  position: absolute;
  left: 130px;
  top: 50%;
}

.default-box {
  margin-bottom: 1rem;
}

.default-box h2 {
  padding: 0.5rem;
  text-transform: uppercase;
}

.default-box h1 {
  font-size: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

.table th {
  margin-top: 50%;
}


.btn-faceit {
  color: #ff5500;
  background-color: #141616;
  border-color: #ff5500;
}
.btn-faceit:hover {
    color: white;
    background-color: #141616;
    border-color: #ff5500;
  }

input[type="text"],input[type="text"]:active {
  background-color: #343a40;
  border-color: #1a1d20;
  color: white;
}

#minimal-statistics {
  border-radius: 11px;
  position: relative;
  color: #ff5500;
  font-size: 20px;
  font-family: sans-serif;
}

#minimal-statistics::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -5px;
  border-radius: 16px;
  background: linear-gradient(220.94deg, #ff5500 30%, #b93e01 70%);
}
